@using System.Globalization
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
<table class="table table-bordered table-striped" style="width:100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Buy</th>
        </tr>
        @foreach (var product in ViewBag.products)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td><img src="@Url.Content("~/images/" + @product.Photo + "")" width="60" /> </td>
                <td>@product.Price.ToString("C", CultureInfo.CurrentCulture)</td>
                <td align="center">
                <a asp-controller="cart" asp-action="buy" asp-route-id="@product.Id">Add to cart</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>
